<a href="https://colab.research.google.com/github/git07Sandesh/Exploratory-Data-Analysis/blob/main/Python_tutorials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Tutorial
This is a simple python tutorial that I will be exploring to get me started with machine learning and other python libraries.
As I already have foundational knowledge of C/C++, I will be only highlighting significatly different logics and techniques in python and try to keep this tutorial short.

This will also help me get better with google colab.

In [ ]:
print("Hey this is how we print in python")

Hey this is how we print in python

In [ ]:
print()

Intendation plays a great role in python. It indicates a block of code. The number of spaces is up to you but should be minimum 1.

In [ ]:
if 3 > 2:
  print("Three is greater than two!")

Three is greater than two!

hash(#) is used to denote comments.
To assign multi-line comments, you can use """multiple lines""" as python ignores strings that are not assigned to a variable.

Multiple variables can be assigned values in one line.
Same value can also be added to multiple variables.

In [ ]:
x, y, z = "This", "is", "Fun"
print(x)
print(y)
print(z)

a=b=c="This is fun"
print(a)
print(b)
print(c)

This
is
Fun
This is fun
This is fun
This is fun

#DATA TYPES
Text Type:	str <br>
Numeric Types:	int, float, complex (j is the imaginary part, x = 3 + 5j) <br>
Sequence Types:	list, tuple, range <br>
Mapping Type:	dict <br>
Set Types:	set, frozenset <br>
Boolean Type:	bool <br>
Binary Types:	bytes, bytearray, memoryview <br>
None Type:	NoneType <br>

find the type using type(val)

In [ ]:
x = [1,2,3,4]
y = (1,2,3,4)
z = {1,2,3,4}
a = {1:"one", 2:"two", 3:"three"}
b = range(10)
print(type(x))
print(type(y))
print(type(z))
print(type(a))
print(type(b))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'range'>

#Quotes Inside Quotes
You can use quotes inside a string, as long as they don't match the quotes surrounding the string. <br>

Multiline strings: Use either three double quotes or three single quotes

#Strings

Works like array. <br>
You can check if certain phrase is present in string or not.
<br>
if("text" in txt) <br>
if("text" not in txt)
#Slicing of strings
We can return certain portion of strings by using slice syntax. <br>
str[start:end(not included)] <br>
We can also use negative indexing. -1 reprents last, -2 second last and so on.
#Replace String.
replace() -> print(a.replace("H", "J"))
#F-strings
We can pass values to a string by using f in front of string literal and {} as placeholder. Placeholder can include modifiers by using : <br>
Also checkout multiple string methods over here:
https://www.w3schools.com/python/python_strings_methods.asp

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

b = "Helllooo"
print(b[3:6])

age = 36
print(f"My age is not {age:.2f}")

True
llo
My age is not 36.00

#Control Flow

Conditional Statements: Basic if -elif-else statement

In [ ]:
x = 10
if x > 5:
    print("x is greater than 5")
elif x == 5:
    print("x is 5")
else:
    print("x is less than 5")

x is greater than 5

#Loops
1. For Loop
2. While Loop

In [ ]:
for i in range(5):
  print(i)
i = 0
while i < 5:
  print(i)
  i=i+1

0
1
2
3
4
0
1
2
3
4

#Interesting Facts about loops
1. Using enumerate to get index and value: Helps to get both the index and value. {The first one is index and the later one being a value}

In [ ]:
vowels=['a','e','i','o','u']
for i, letter in enumerate(vowels):
	print (i, letter)

0 a
1 e
2 i
3 o
4 u

#Functions
You can use "return val" to return a value, and you can return multiple values at a time.

In [ ]:
def fun():
  print("This is most easy way to define a funtion")

fun()

def func():
    return 1, 2, 3, 4, 5

one, two, three, four, five = func()
print(one, two, three, four, five)

This is most easy way to define a funtion
1 2 3 4 5

#List
1. Accessing: Use index as arrays (including negative for reverse)
2. Modifying: Index it, assign new value.
3. Inserting items: insert(index, value), use append(value) to add at end
4. Delete items: remove(value) or pop(index) or del arr[0]. clear() clears the entire list.

#Tuple:
=> Ordered, Unchangable and allows duplicate <br>
Always use comma!! EVen if single element <br>
Can contain different data types.

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

#Set
Unordered (can appears in different order), unchangeable (allows addition-add(val) and removal- remove(val), discard(val), pop()), unindexed and doesn't allow duplicates

Single element can not be accessed directly (Must use for loop)

#Dictionary
 store data values in key:value pairs
 ordered*, changeable and do not allow duplicates.

 keys() and values() gives the keys and values.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
thisdict.update({"year": 2020})
thisdict.update({"color": "blue"})
print(x)
print(thisdict)
thisdict.pop("model")

Mustang
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'blue'}

#IF...Else:

In [ ]:
#ShortHand Techniue: Using Ternary Operator in Python.
a = 2
b = 330
print("A") if a > b else print("B")

B

#Match (Python's switch)

match expression: <br>
  case x:<br>
  [indentation]code block<br>
  case y:<br>
   [indentation]code block<br>
  case z:<br>
   [indentation]code block<br>

   use _ for default: (case _:) and | to join (case 1| 2| 3| 4)

In [ ]:
day = 4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

Thursday

#While loop:
* We can use break to stop the loop even if while condition is true.
* We can use continue to stop the current iteration and move to next.
* We can also use while...else: which runs the else statement after while condition becomes false.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

#For Loop:
* range(val): From 0 to val-1
* range(start,val): from start to val-1
* range(start, val, increment):  from start to val-1 with increment in each iteration.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)
for a in range(5,100,20):
  print(a)

apple
cherry
5
25
45
65
85

In [ ]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a